* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "BhuTuka Expanded One"; */
  /* font-family: "Smooch Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.25 em;
}
:root {
  --color-nav: rgb(241, 241, 231);
  --color-overlay: rgb(191, 164, 141);
  --section-color-one: rgb(231, 226, 226);
  --white: white;
}
